*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: #ffffff;
	min-height: 100vh;
    padding-top: 50px;
}

@media screen and (min-width: 650px) {
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 65px;
	    z-index: 100000;
        transition: 0.5s;
        background-color: rgb(200, 200, 200);
    }
}

@media screen and (max-width: 650px){
    header {
	    position: fixed; 
	    color: rgb(0, 0, 0);
	    top: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 10px;
        padding-right: 0px;
	    z-index: 100000;
        background-color: rgb(200, 200, 200);
    }
    header h1 {
        font-size: 4vw;
        padding-right: 10px;
    }
} 


header.sticky {
	padding: 5px 100px;
	background: #ffffff;
}
header .logo {
	position: relative;
	font-weight: 700;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding-right: 20px;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
    justify-content: center;
	align-items: center;
}

header ul li a {
	position: relative;
	margin: 0 14px;
	text-decoration: none;
	color: #000000;
	letter-spacing: 2px;
	font-weight: 500px;

}

header.sticky .logo,
header.sticky ul li a {
	color: #000;
}

li a.active,li a:hover{
	color: white;
} 